@model TPI_NapolitanoSalinasVazquez_P3.Models.Admin

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Admin</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="lastConnection" class="control-label"></label>
                <input asp-for="lastConnection" class="form-control" />
                <span asp-validation-for="lastConnection" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="UserID" />
            <div class="form-group">
                <label asp-for="userName" class="control-label"></label>
                <input asp-for="userName" class="form-control" />
                <span asp-validation-for="userName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userPassword" class="control-label"></label>
                <input asp-for="userPassword" class="form-control" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userMail" class="control-label"></label>
                <input asp-for="userMail" class="form-control" />
                <span asp-validation-for="UserMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="userRol" class="control-label"></label>
                <input asp-for="userRol" class="form-control" />
                <span asp-validation-for="UserRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
